# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Virtual envs
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.env
docker-compose.override.yml

# Misc
*.sqlite3
